section.screen#portfolio
    .works.grid
        .wraper
            each work in portfolio
                article.loading.item(class="#{work.tags.join(' ')}", data-preview="/img/portfolio/#{work.alias}/#{work.media.preview}")
                    a.details(href="/portfolio/#{work.alias}/")
                    .heading
                        a.url(href="#{work.url}", target='_blank') #{work.site_name}
                        span.scope | #{work.scope}
                    if work.awards
                        .awards
                            each award in work.awards
                                each url, type in award
                                    if typeof url == "string"
                                        a(class="#{type}", href="#{url}", target='_blank')
                                    else
                                        each url2, subtype in url
                                            a(class="#{type} #{subtype}", href="#{url2}", target='_blank')
    
                
        .arrows
            button.left.nav_left
            button.right.nav_right
        
        .works-list-display
            each work in portfolio
                .item.simple(class="#{work.tags.join(' ')}")
                    a.details(href="/portfolio/#{work.alias}/") #{work.site_name}
                    a.url(href="#{work.url}", target='_blank')
                    span.scope | #{work.scope}
    
    .controls
        .display-mode
            ul.list-type
                li: button.display_mode.grid_big.active(data-type='grid_big')
                li: button.display_mode.grid_small(data-type='grid_small')
                li: button.display_mode.list(data-type='list')
        .scope
            .title scope of work:
            ul.list
                li: button.filter-button.active(data-type='frontend') frontend
                li: button.filter-button.active(data-type='backend') backend
                li: button.filter-button.active(data-type='architecture') architecture
                li: button.filter-button.active(data-type='graphic_design') graphic design
                li: button.filter-button.active(data-type='3d_modeling') 3d modeling
                //-li: button.filter-button.active(data-type='3d') 3d
        .filter
            .title display only:
            ul.list
                li: button.filter-button.only(data-type='awarded') awarded
                li: button.filter-button.only(data-type='highload') highload
